In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\ser\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\ser\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\ser\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ser\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ser\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: sortedcontainers in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ser\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ser\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ser\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ser\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ser\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

# Question no 1

In [1]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

In [4]:
Rank=[]
Video_Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [5]:
rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank[:30]:
    Rank.append(i.text)
    
video_name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in video_name[:30]:
    Video_Name.append(i.text)
    
artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist[:30]:
    Artist.append(i.text)
    
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views[:30]:
    Views.append(i.text)
    
upload_date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in upload_date[:30]:
    Upload_Date.append(i.text)

In [6]:
df_table=pd.DataFrame({'Rank':Rank,'Video_Name':Video_Name,'Artist':Artist,'Views':Views,'Upload_Date':Upload_Date})
df_table

,Rank,Video_Name,Artist,Views,Upload_Date
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.37,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.09,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.63,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.03,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.92,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.79,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.17,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,4.95,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.84,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.83,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.70,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.53,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.24,"April 5, 2018"
13,14.,"""Sugar""[34]",Maroon 5,3.82,"January 14, 2015"
14,15.,"""Axel F""[35]",Crazy Frog,3.76,"June 16, 2009"
15,16.,"""Roar""[36]",Katy Perry,3.73,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.73,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.63,"October 22, 2015"
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,3.55,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,3.51,"June 25, 2018"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.48,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.45,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.41,"December 3, 2015"
23,24.,"""Let Her Go""[44]",Passenger,3.38,"July 25, 2012"
24,25.,"""Girls Like You""[45]",Maroon 5,3.37,"May 31, 2018"
25,26.,"""Perfect""[46]",Ed Sheeran,3.37,"November 9, 2017"
26,27.,"""Bailando""[47]",Enrique Iglesias,3.34,"April 11, 2014"
27,28.,"""Lean On""[48]",Major Lazer,3.33,"March 22, 2015"
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,3.32,"June 14, 2018"
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.31,"January 26, 2018"

# Question no 2

In [7]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [8]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [9]:
driver.get("https://www.bcci.tv/.")
driver.maximize_window()

In [10]:
view_all=driver.find_element(By.XPATH,"/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a")
view_all.click()

In [11]:
match_title=[]
series=[]
place=[]
date=[]
time=[]

In [12]:
Match_Title=driver.find_elements(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]')
for i in Match_Title:
    match_title.append(i.text)


Series=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in Series:
    series.append(i.text)
    

Place=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in Place:
    place.append(i.text)
    

Date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')  
for i in Date:
    date.append(i.text)  
    

Time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in Time:
    time.append(i.text)

In [13]:
df=pd.DataFrame({'Match_Title':match_title,'Series':series,'Place':place,'Date':date,'Time':time})
df

            Match_Title     Series          Place         Date         Time
0  India\nvs\nAustralia  2nd ODI -  Visakhapatnam  19 MAR 2023  1:30 PM IST
1  India\nvs\nAustralia  3rd ODI -        Chennai  22 MAR 2023  1:30 PM IST

# Question No 3

In [14]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [15]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [16]:
driver.get("http://statisticstimes.com/")
driver.maximize_window()

In [17]:
button=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
button.click()

In [18]:
drop_down=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
drop_down.click()

In [19]:
india_economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india_economy.click()

In [20]:
indian_states=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
indian_states.click()

In [21]:
rank=[]
state=[]
gsdp_19_20=[]
gsdp_18_19=[]
share_18_19=[]
gdp_billion=[]

In [22]:
Rank=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[1]")
for i in Rank[:33]:
    rank.append(i.text)
    
State=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[2]")
for i in State[:33]:
    state.append(i.text)

GSDP_19_20=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[3]")
for i in GSDP_19_20[:33]:
    gsdp_19_20.append(i.text)

GSDP_18_19=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[4]")
for i in GSDP_18_19[:33]:
    gsdp_18_19.append(i.text)

Share_18_19=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[5]")
for i in Share_18_19[:33]:
    share_18_19.append(i.text)

GDP_billion=driver.find_elements(By.XPATH,"//table[@id='table_id']/tbody/tr/td[6]")
for i in GDP_billion[:33]:
    gdp_billion.append(i.text)

In [23]:
print(len(rank),len(state),len(gsdp_19_20),len(gsdp_18_19),len(share_18_19),len(gdp_billion))

33 33 33 33 33 33

In [24]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP_19_20':gsdp_19_20,'GSDP_18_19':gsdp_18_19,'Share_18_19':share_18_19,'GDP_billion':gdp_billion})

In [25]:
df

,Rank,State,GSDP_19_20,GSDP_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question No 4

In [26]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [27]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [28]:
driver.get("https://github.com/")
driver.maximize_window()

In [29]:
button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span/div[1]")
button.click()

In [30]:
open_source=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open_source.click()

In [31]:
trending_option=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
trending_option.click()

In [38]:
repository_title=[]
repository_description=[]
contributors_count=[]
language_used=[]

In [39]:
Repository_title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in Repository_title[0:25]:
    repository_title.append(i.text)
    
Repository_Description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in Repository_Description[0:25]:
    repository_description.append(i.text)
    
Contributors_Count=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in Contributors_Count[0:25]:
    contributors_count.append(i.text)
    
Language_Used=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in Language_Used[0:25]:
    language_used.append(i.text)

In [40]:
print(len(repository_title),len(repository_description),len(contributors_count),len(language_used))

25 23 24 24

In [41]:
df=pd.DataFrame({'Repository_title':repository_title,'Repository_Description':repository_description,'Contributors_Count':contributors_count,'Language_Used':language_used})

ValueError: All arrays must be of the same length

# Question no 5

In [42]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [43]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [44]:
driver.get("https:/www.billboard.com/")
driver.maximize_window()

In [46]:
button=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
button.click()

In [47]:
charts_option=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
charts_option.click()

In [48]:
billboard_hot_100=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
billboard_hot_100.click()

In [49]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [51]:
Song_Name=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in Song_Name:
    song_name.append(i.text)

In [52]:
print(len(song_name))

198

# Question no 6

In [53]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [55]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [56]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(3)
driver.maximize_window()

In [57]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

In [58]:
Book_Name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in Book_Name:
    book_name.append(i.text)
Author_Name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in Author_Name:
    author_name.append(i.text)
Volumes_Sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in Volumes_Sold:
    volumes_sold.append(i.text)
Publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in Publisher:
    publisher.append(i.text)
Genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in Genre:
    genre.append(i.text)

In [59]:
df=pd.DataFrame({'Book_Name':book_name,'Author_Name':author_name,'Volumes_Sold':volumes_sold,'Publisher':publisher,'Genre':genre})
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question no 7

In [60]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [61]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [62]:
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(3)
driver.maximize_window()

In [63]:
series_name=[]
year_span=[]
series_genre=[]
run_time=[]
series_ratings=[]
series_votes=[]

In [64]:
Series_Name=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')
for i in Series_Name[:100]:
    series_name.append(i.text)
Year_Span=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in Year_Span[:100]:
    year_span.append(i.text)
Series_Genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in Series_Genre[:100]:
    series_genre.append(i.text)
Run_time=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in Run_time[:100]:
    run_time.append(i.text)
Series_Ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in Series_Ratings[:100]:
    series_ratings.append(i.text)
Series_Votes=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in Series_Votes[:100]:
    series_votes.append(i.text)

In [65]:
df=pd.DataFrame({'Series_Name':series_name,'Year_Span':year_span,'Series_Genre':series_genre,'Run_time':run_time,'Series_Ratings':series_ratings,'Series_Votes':series_votes})
df

,Series_Name,Year_Span,Series_Genre,Run_time,Series_Ratings,Series_Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,138,451"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,223,326"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,015,194"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"299,035"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"257,898"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,018"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,031"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"204,939"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,461"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"253,608"

# Question no 8

In [66]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [67]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [68]:
driver.get("https://archive.ics.uci.edu/")
time.sleep(3)
driver.maximize_window()

In [69]:
view_all=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
view_all.click()

In [70]:
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
no_of_instances=[]
no_of_attribute=[]
year=[]

In [71]:
Dataset_Name=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in Dataset_Name[0:622]:
    dataset_name.append(i.text)
Data_Type=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
for i in Data_Type[0:622]:
    data_type.append(i.text)
Task=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
for i in Task[0:622]:
    task.append(i.text)
Attribute_Type=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
for i in Attribute_Type[0:622]:
    attribute_type.append(i.text)
No_of_Instances=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
for i in No_of_Instances[0:622]:
    no_of_instances.append(i.text)
No_of_Attribute=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
for i in No_of_Attribute[0:622]:
    no_of_attribute.append(i.text)
Year=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in Year[0:622]:
    year.append(i.text)

In [72]:
df=pd.DataFrame({'Dataset_Name':dataset_name,'Data_Type':data_type,'Task':task,'Attribute_Type':attribute_type,'No_of_Instances':no_of_instances,'No_of_Attribute':no_of_attribute,'Year':year})
df

,Dataset_Name,Data_Type,Task,Attribute_Type,No_of_Instances,No_of_Attribute,Year
0,Abalone,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Adult,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Annealing,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Anonymous Microsoft Web Data,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Arrhythmia,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Regression,Integer,35040,11,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Maternal Health Risk Data Set,Multivariate,Classification,"Integer, Real",400,50,2020
620,Room Occupancy Estimation,,Classification,,1014,7,2020
621,Image Recognition Task Execution Times in Mobi...,"Multivariate, Time-Series",Classification,Real,10129,16,2021

# Question no 9

In [73]:
import selenium
import pandas as pd
import time
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import requests
import re

In [74]:
driver=webdriver.Chrome(r"chromedriver.exe")
time.sleep(3)

C:\Users\ser\AppData\Local\Temp\ipykernel_13564\2094894575.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [75]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")
time.sleep(3)
driver.maximize_window()

In [76]:
search_job=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search_job.send_keys('Data science') 

driver.find_element(By.XPATH,"//button[@class='fl qsbSrch blueBtn']").click()

In [77]:
name=[]
designation=[]
company=[]
skills=[]
location=[]


Name=driver.find_elements(By.XPATH,"/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div[1]/div[1]/div[1]/p/a[1]")
for i in Name[0:50]:
    name.append(i.text)
    

Designation=driver.find_elements(By.XPATH,"/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div[1]/div[1]/div[1]/p/span[1]")
for i in Designation[0:50]:
    designation.append(i.text)
    

Company=driver.find_elements(By.XPATH,"/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div[1]/div[1]/div[1]/p/a[2]")
for i in Company[0:50]:
    company.append(i.text)
    

Skills=driver.find_elements(By.XPATH,"/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div[1]/div[1]/div[2]")
for i in Skills[0:50]:
    skills.append(i.text)
    

Location=driver.find_elements(By.XPATH,"/html/body/div[3]/div/div[2]/div/div[2]/div[1]/div[1]/div[1]/div[1]/p/span[2]")
for i in Location[0:50]:
    location.append(i.text)

In [78]:
df=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills':skills,'Location':location})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi