# Question No. 1

In [9]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.webdriver.common.by import By
import time

In [11]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [12]:
driver.get("https://naukri.com/")

In [13]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [14]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [15]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [16]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [17]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [19]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,0-0 Yrs
1,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
2,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
3,Urgently required Data analyst - Microsoft Azure,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Golden Future Technologies,5-10 Yrs
4,Data Analyst,Bangalore/Bengaluru,Quotient Four Technologies,3-6 Yrs
5,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,2-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Adecco Group,5-10 Yrs
7,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
8,Data Analyst - Pharma/hls Domain (4-9 Years),"Bangalore/Bengaluru, Mumbai, Pune, Gurgaon/Gur...",Fractal Analytics,10-20 Yrs
9,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs

# Question No. 2

In [20]:
import pandas as pd
import selenium
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [21]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver.get("https://www.naukri.com/")

In [23]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [24]:
job_title=[]
job_location=[]
company_name=[]

In [25]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [26]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [27]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df

,Title,Location,Company
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
4,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
5,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
6,"SR. SPECIALIST, DATA ANALYTICS",Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.
7,Senior Data Scientist,Bangalore/Bengaluru,AT and T Global Business Services India P. Ltd.
8,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
9,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech

# Question No. 3

In [37]:
import pandas as pd
import selenium
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [38]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [39]:
driver.get("https://www.naukri.com/")

In [40]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Delhi/NCR")
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [41]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [42]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [43]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [44]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,SQL Server Developer :: MNC :: Health Care :: ...,"Delhi / NCR, Noida(Sector-2 Noida), New Delhi",Vserve Digital Solutions,2-7 Yrs
7,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
8,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
9,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs

In [45]:
driver.close()

# Question no.4

In [46]:
import pandas as pd
import selenium
import warnings
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [47]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [48]:
driver.get("https://www.flipkart.com/")

In [49]:
sunglasses=driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys('sunglasses')

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [50]:
brand=[]
prod_desciption=[]
price=[]
time.sleep(3)

In [51]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brands[0:100]:
        brand.append(i.text)
    Product_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in Product_desc[0:100]:
        prod_desciption.append(i.text)    
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices[0:100]:
        price.append(i.text)
    next_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")

In [52]:
print(len(brand),len(prod_desciption),len(price))

120 120 120

In [53]:
df=pd.DataFrame({'Brand':brand,'Prod_desc':prod_desciption,'Price':price})
df

           Brand                                          Prod_desc   Price
0      ROYAL SON                Others Retro Square Sunglasses (58)    ₹499
1         Resist          Polarized Wayfarer Sunglasses (Free Size)  ₹1,399
2       Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹503
3      Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
4       Fastrack       UV Protection Aviator Sunglasses (Free Size)    ₹539
..           ...                                                ...     ...
115    ROYAL SON  UV Protection Rectangular, Retro Square Sungla...    ₹497
116        NuVew   UV Protection, Mirrored Wayfarer Sunglasses (58)     ₹99
117         SRPM  Night Vision, UV Protection Round Sunglasses (54)    ₹179
118  SKYZA INDIA  UV Protection Retro Square, Rectangular, Over-...    ₹277
119       AISLIN  Toughened Glass Lens, UV Protection Aviator, W...    ₹845

[120 rows x 3 columns]

# Question No.5

In [54]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [55]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [56]:
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

In [57]:
#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)

In [58]:
print(len(stars),len(short_review),len(complete_review))

100 100 100

In [59]:
df=pd.DataFrame({'Rating':stars,'Review_summary':short_review,'Full_summary':complete_review})
df

,Rating,Review_summary,Full_summary
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Wonderful,Its good.. a little heavy on my pinky but its ...
96,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
97,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
98,5,Perfect product!,Worth the money’ starting first from its perfo...
99,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...

# Question No.6

In [60]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [61]:
driver.get("https://www.flipkart.com/")

In [62]:
sneakers=driver.find_element(By.CLASS_NAME,"_3704LK")
sneakers.send_keys('sneakers')
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [63]:
brand=[]
description=[]
price=[]

In [64]:
start=0
end=4
for page in range(start,end):
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brands:
        brand.append(i.text)
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
    for i in desc:
        description.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [65]:
print(len(brand),len(description),len(price))

160 160 160

In [66]:
df=pd.DataFrame({'Brand':brand,'Prod_desc':description,'Price':price})
df

,Brand,Prod_desc,Price
0,BIRDE,Sneakers For Women,₹199
1,SFR,Sneakers For Men,₹298
2,BRUTON,Canvas shoes for Men Sneakers For Men,₹249
3,Sparx,Men White Sneakers Sneakers For Men,₹599
4,HRX by Hrithik Roshan,Sneakers For Men,"₹1,581"
...,...,...,...
155,U.S. POLO ASSN.,CLARKIN Sneakers For Men,"₹1,799"
156,aadi,Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...,₹449
157,Nobelite,Combo Pack of 2 Sneakers For Men,₹784
158,BERSACHE,"Combo pack of 2 casual, sneaker and loafer sho...",₹499
159,HRX by Hrithik Roshan,ACTIVE RUN Sneakers For Men,"₹3,099"

# Question No.7

In [67]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [68]:
driver.get("https://www.amazon.in/")

In [69]:
laptop=driver.find_element(By.XPATH,"//div[@class='nav-search-field ']//input")
laptop.send_keys('Laptop')

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [70]:
cpu_filter1=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[6]/span")
cpu_filter1.click()

In [71]:
Title=[]
price=[]
Ratings=[]

In [72]:
start=0
end=1
for page in range(start,end):
    title=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
    for i in title[0:10]:
        Title.append(i.text) 
    prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for i in prices[0:10]:
        price.append(i.text)

In [73]:
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Ratings.append(i.get_attribute("aria-label"))
ratings=[]
for i in range(0,len(Ratings))[0:20]:
    if i == 0 or  i/2 == i//2:
        ratings.append(Ratings[i][0:3])

In [74]:
ratings

['4.0', '4.2', '3.6', '3.4', '3.7', '4.2', '4.0', '4.0', '4.0', '4.2']

In [75]:
print(len(Title),len(price),len(ratings))

10 10 10

In [76]:
df=pd.DataFrame({'Title':Title,'Price':price,'Ratings':ratings})
df

                                               Title   Price Ratings
0  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...  40,950     4.0
1  Dell Vostro 3420 Laptop,12th Gen Intel Core i3...  44,490     4.2
2  (Renewed) Dell Latitude E5470 Intel Core i5 6t...  37,990     3.6
3  HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6i...  37,990     3.4
4  HP 15s, AMD Athlon Silver 3050U 8GB RAM/512GB ...  43,990     3.7
5  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...  17,899     4.2
6  Lenovo Ideapad 3 AMD Ryzen 5 5500U 15.6" (39.6...  30,027     4.0
7                                                     29,212     4.0
8  HP 245 G8 Laptop PC with AMD Ryzen 3 3250U/8 G...  43,990     4.0
9  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...  38,500     4.2

# Question No.8

In [77]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains

In [78]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [79]:
driver.get('https://www.azquotes.com/')

In [80]:
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search_button.click()

In [81]:
Quote=[]
Author=[]
type_of_quote=[]

In [82]:
Details=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//div[@class='wrap-block']")]

for i in Details:
    Quote.append(i[0])
    Author.append(i[1])
    type_of_quote.append(i[2])

In [83]:
data=pd.DataFrame({'Quotes':Quote,'Author':Author,'Type of quote':type_of_quote })
data

,Quotes,Author,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# Question No.9

In [89]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [90]:
url = "https://www.jagranjosh.com/"
driver.get(url)

In [91]:
gk_btn = driver.find_element(By.XPATH,'//*[@id="1540978020504"]/div[1]/header/div[3]/ul/li[9]/a')
gk_btn.click()

In [93]:
pm_btn = driver.find_element(By.XPATH,'//*[@id="popluarGK"]/ul/li[2]/a')
pm_btn.click()

In [94]:
Name= []
Born_Dead = []
Terms_of_office = []
Remarks = []

In [95]:
names = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for name in names:
    Name.append(name.text)
    

born_dead = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_dead:
    Born_Dead.append(i.text)
    

terms_of_office = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in terms_of_office:
    Terms_of_office.append(i.text.replace('\n', ''))
    
    
remarks = driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remarks:
    Remarks.append(i.text)

In [96]:
len(Name),len(Born_Dead),len(Terms_of_office),len(Remarks)

(18, 18, 18, 18)

In [97]:
df=pd.DataFrame({"Names":Name,"Born-Dead":Born_Dead,"Term of office":Terms_of_office,"Remarks":Remarks})
df

,Names,Born-Dead,Term of office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 196416 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 19661 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 196613 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 197711 years, 59 days",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 19844 years, 291...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 19895 years, 32 ...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 19964 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 199616 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Question No.10

In [98]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.webdriver.common.by import By
import time

In [99]:
driver=webdriver.Chrome(r"chromedriver.exe")

C:\Users\ser\AppData\Local\Temp\ipykernel_9372\191662975.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [100]:
url=" https://www.motor1.com/"
driver.get(url)

In [101]:
cl=driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
cl.click()

In [102]:

listy=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
listy.click()

In [103]:
exp=driver.find_element(By.XPATH,"//div[@class='text-box']/h3/a[contains(@href,'-new-cars-ever')]")
exp.click()

In [104]:
cars=[]
price=[]
desc_list=[]

In [105]:
cars = []
names_50expcars = driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in names_50expcars:
        cars.append(i.text)
cars.pop()
        
        
prices = []
prices_50expcars = driver.find_elements(By.XPATH,"//strong")

for j in prices_50expcars:
        prices.append(j.text)
prices.pop()

'Price: $28.0 Million (est.)'

In [106]:
print(len(cars),len(prices))

50 50

In [107]:
df=pd.DataFrame({"NAME OF THE CAR":cars,"PRICE OF THE CAR IN ($)":prices})
df

                    NAME OF THE CAR PRICE OF THE CAR IN ($)
0                     De Tomaso P72     Price: $1.3 Million
1                 Ferrari LaFerrari     Price: $1.4 Million
2                     Pagani Huayra     Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C     Price: $1.7 Million
5                     Ferrari Monza     Price: $1.7 Million
6                Gordon Murray T.33     Price: $1.7 Million
7                 Koenigsegg Gemera     Price: $1.7 Million
8                       Zenvo TSR-S     Price: $1.7 Million
9                Hennessey Venom F5     Price: $1.7 Million
10                  Bentley Bacalar     Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne     Price: $1.9 Million
12           Bentley Mulliner Batur     Price: $1.9 Million
13                     Deus Vayanne     Price: $2.0 Million
14                      SSC Tuatara     Price: $2.0 Million
15                      Lotus Evija    Price: $2.0 Million*
16              Aston Martin Vulcan     Price: $2.1 Million
17                       Delage D12     Price: $2.3 Million
18                McLaren Speedtail     Price: $2.3 Million
19                     Rimac Nevera     Price: $2.3 Million
20                    Pagani Utopia     Price: $2.4 Million
21             Pininfarina Battista     Price: $2.5 Million
22                Ferrari FXX K Evo     Price: $2.5 Million
23               Gordon Murray T.50     Price: $2.6 Million
24             Lamborghini Countach     Price: $2.6 Million
25         Mercedes-AMG Project One     Price: $2.6 Million
26              Aston Martin Victor     Price: $2.7 Million
27      Hennessey Venom F5 Roadster     Price: $3.0 Million
28                 Koenigsegg Jesko            $3.0 Million
29            Aston Martin Valkyrie     Price: $3.0 Million
30        W Motors Lykan Hypersport     Price: $3.2 Million
31                    McLaren Solus     Price: $3.4 Million
32        Pagani Huayra Roadster BC            $3.5 Million
33         Bugatti Chiron Pur Sport     Price: $3.5 Million
34                 Lamborghini Sian     Price: $3.6 Million
35                 Koenigsegg CC850     Price: $3.6 million
36  Bugatti Chiron Super Sport 300+     Price: $3.7 Million
37               Lamborghini Veneno     Price: $3.9 Million
38                   Bugatti Bolide     Price: $4.5 Million
39                  Bugatti Mistral     Price: $4.7 Million
40              Pagani Huayra Imola     Price: $5.0 Million
41                     Bugatti Divo     Price: $5.4 Million
42              SP Automotive Chaos     Price: $5.8 Million
43                 Pagani Codalunga     Price: $6.4 Million
44         Mercedes-Maybach Exelero     Price: $7.4 Million
45               Bugatti Centodieci     Price: $8.0 Million
46          Bugatti Chiron Profilée     Price: $9.0 Million
47             Rolls-Royce Sweptail    Price: $10.8 Million
48         Bugatti La Voiture Noire    Price: $12.8 Million
49           Rolls-Royce Boat Tail*    Price: $13.4 Million

In [108]:
driver.close()